name: Compile Kernel

on:
  workflow_dispatch:
    inputs:
      clang_version:
        description: Type the clang version of ur kernel
        required: true
        type: choice
        options:
          - clang-3289846
          - clang-r547379
          - clang-r563880
          - clang-r563880c
          - clang-r574158
          - clang-stable
          
      kernel_source:
        description: Kernel Source Code
        required: true
        type: choice
        options:
          - LineageOS
          - crdroidandroid

      kernel_branch:
        description: Kernel Branch(such as lineage-23.2 sixteen-qpr1)
        required: true
        type: string
        default: "lineage-23.2"
        
      ksu_type:
        description: "KernelSU Version"
        required: true
        type: choice
        options:
          - None
          - Official-KernelSU
          - KernelSU-Next
          - KowSU
          - ReSukiSU

      susfs:
        description: "Add susfs support"
        required: true
        type: boolean
        default: false

      kpm_support:
        description: "Add KPM support"
        required: true
        type: boolean
        default: false

      BBG: 
        description: "Add BBG support"
        required: true
        type: boolean

          
jobs:
  Kernel_CI:
    env:
        GH_TOKEN: ${{ github.token }}
        SOC: sm8450
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: read
      checks: read
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup SWAP
        uses: pierotofy/set-swap-space@master
        with:
          swap-size-gb: 16
          
      - name: Install build dependencies
        run: |
          sudo apt update
          sudo apt install -y \
          bc bison flex \
          libssl-dev \
          libelf-dev \
          libdw-dev \
          build-essential \
          lz4 \
          git \
          python3 \
          curl \
          dwarves \
          cpio \
          gcc-aarch64-linux-gnu
          
      - name: Clone Kernel Source
        run: |
          git clone --depth=1 -b ${{ inputs.kernel_branch }} https://github.com/${{ inputs.kernel_source }}/android_kernel_xiaomi_${SOC}.git ${SOC}
          git clone --depth=1 -b ${{ inputs.kernel_branch }} https://github.com/${{ inputs.kernel_source }}/android_kernel_xiaomi_${SOC}-modules.git ${SOC}-modules

      - name: Download AOSP Clang
        run: |
          mkdir -p toolchains/${{ inputs.clang_version }}
          cd toolchains

          curl -LO https://android.googlesource.com/platform/prebuilts/clang/host/linux-x86/+archive/refs/heads/android16-qpr2-release/${{ inputs.clang_version }}.tar.gz
          tar -xf "${{ inputs.clang_version }}.tar.gz" -C ${{ inputs.clang_version }}

      - name: Compile Kernel
        run: |
          CLANG_ROOT="${GITHUB_WORKSPACE}/toolchains/${{ inputs.clang_version }}/bin"
          export PATH="${CLANG_ROOT}:$PATH"
          export ARCH=arm64
          export SUBARCH=arm64
          export LLVM=1
          export LLVM_IAS=1
          export CC="${CLANG_ROOT}/clang"
          export CXX="${CLANG_ROOT}/clang++"
          export HOSTCC="${CLANG_ROOT}/clang"
          export HOSTCXX="${CLANG_ROOT}/clang++"
          export LD="${CLANG_ROOT}/ld.lld"
          export AR="${CLANG_ROOT}/llvm-ar"
          export NM="${CLANG_ROOT}/llvm-nm"
          export OBJCOPY="${CLANG_ROOT}/llvm-objcopy"
          export OBJDUMP="${CLANG_ROOT}/llvm-objdump"
          export STRIP="${CLANG_ROOT}/llvm-strip"

          KERNEL_NAME="${{ inputs.ksu_type }}"

          if [[ "${{ inputs.susfs }}" == true ]]; then
            KERNEL_NAME="${KERNEL_NAME}-susfs"
          fi
          if [[ "${{ inputs.kpm_support }}" == true ]]; then
            KERNEL_NAME="${KERNEL_NAME}-kpm"
          fi
          if [[ "${{ inputs.BBG }}" == true ]]; then
            KERNEL_NAME="${KERNEL_NAME}-BBG"
          fi

          echo "KERNEL_NAME=${KERNEL_NAME}" >> $GITHUB_ENV

          cd ${SOC}

          case "${{ inputs.ksu_type }}" in
          
            "None")
              ;;
              
            "Official-KernelSU")
              curl -LSs "https://raw.githubusercontent.com/tiann/KernelSU/main/kernel/setup.sh" | bash -s main
              ;;
              
            "KowSU")
               curl -LSs "https://raw.githubusercontent.com/KOWX712/KernelSU/main/kernel/setup.sh" | bash -s master
              ;;

            "KernelSU-Next")
              if [[ "${{ inputs.susfs }}" == true ]]; then
                curl -LSs "https://raw.githubusercontent.com/pershoot/KernelSU-Next/refs/heads/dev-susfs/kernel/setup.sh" | bash -s dev-susfs
              else
                curl -LSs "https://raw.githubusercontent.com/KernelSU-Next/KernelSU-Next/next/kernel/setup.sh" | bash -s dev
              fi
              ;;

            "ReSukiSU")
              curl -LSs "https://raw.githubusercontent.com/ReSukiSU/ReSukiSU/main/kernel/setup.sh" | bash -s builtin
              ;;
          esac
          
          if [[ "${{ inputs.susfs }}" == true ]]; then
            git clone -b gki-android12-5.10 https://gitlab.com/simonpunk/susfs4ksu.git susfs
            cd susfs
            cp ./kernel_patches/50_add_susfs_in_gki-android12-5.10.patch ..
            cp ./kernel_patches/fs/* ../fs/
            cp ./kernel_patches/include/linux/* ../include/linux/
            cd ..
            patch -p1 < 50_add_susfs_in_gki-android12-5.10.patch
            echo "CONFIG_KSU_SUSFS=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KSU_SUSFS_SUS_PATH=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KSU_SUSFS_SUS_MOUNT=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KSU_SUSFS_SUS_KSTAT=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KSU_SUSFS_SPOOF_UNAME=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KSU_SUSFS_ENABLE_LOG=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KSU_SUSFS_HIDE_KSU_SUSFS_SYMBOLS=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KSU_SUSFS_SPOOF_CMDLINE_OR_BOOTCONFIG=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KSU_SUSFS_SUS_MAP=y" >> arch/arm64/configs/gki_defconfig
          fi

          if [[ "${{ inputs.kpm_support }}" == true ]]; then
            echo "CONFIG_KPM=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KALLSYMS=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KALLSYMS_ALL=y" >> arch/arm64/configs/gki_defconfig
            echo "CONFIG_KPROBES=y" >> arch/arm64/configs/gki_defconfig
          fi

          if [[ "${{ inputs.BBG }}" == true ]]; then
            wget -O- https://github.com/vc-teahouse/Baseband-guard/raw/main/setup.sh | bash
            echo "CONFIG_BBG=y" >> arch/arm64/configs/gki_defconfig
            sed -i '/^config LSM$/,/^help$/{ /^[[:space:]]*default/ { /baseband_guard/! s/selinux/selinux,baseband_guard/ } }' security/Kconfig
          fi

          echo "-${KERNEL_NAME}-${{ github.actor }}" > .scmversion 
          
          echo "CONFIG_TMPFS_XATTR=y" >> arch/arm64/configs/gki_defconfig
          
          make O=out gki_defconfig vendor/waipio_GKI.config vendor/xiaomi_GKI.config vendor/cupid_GKI.config vendor/debugfs.config

          make -j2 O=out Image

          cd out/arch/arm64/boot/
          
          if [[ "${{ inputs.kpm_support }}" == true ]]; then
            echo "Downloading SukiSU_KernelPatch..."
            curl -s https://api.github.com/repos/SukiSU-Ultra/SukiSU_KernelPatch_patch/releases/latest \
              | grep "browser_download_url" \
              | grep "patch_linux" \
              | cut -d '"' -f 4 \
              | wget -qi -
            echo "Patching kernel to add KPM support..."
            chmod +x ./patch_linux
            ./patch_linux
            rm ./Image
            mv ./oImage ./Image
          fi 


      - name: Make AnyKernel3
        run: |
          ZIP_NAME="${KERNEL_NAME}_$(date -u +"%Y%m%d_%H%M")"
          git clone https://github.com/Kernel-SU/AnyKernel3.git

          cp ${SOC}/out/arch/arm64/boot/Image AnyKernel3/Image
          cp ${SOC}/out/arch/arm64/boot/Image ./Image
          cd AnyKernel3

          zip -r9 ../"${ZIP_NAME}.zip" * -x .git

      - name: Create GitHub Release
        run: |
          BUILD_TIME=$(date -u +"%Y%m%d_%H%M")
          REL_NAME="${SOC}_${{ inputs.kernel_source }}-${{ inputs.kernel_branch }}-${KERNEL_NAME}-${BUILD_TIME}"
          cd ${GITHUB_WORKSPACE}
          ZIP_FILE=$(ls *.zip)

          if [[ "${{ inputs.susfs }}" == true ]]; then
            susfs_checkbox="supported"
          else
            susfs_checkbox="unsupported"
          fi

          if [[ "${{ inputs.kpm_support }}" == true ]]; then
            kpm_checkbox="supported"
          else
            kpm_checkbox="unsupported"
          fi

          if [[ "${{ inputs.BBG }}" == true ]]; then
            bbg_checkbox="supported"
          else
            bbg_checkbox="unsupported"
          fi

                    
          gh release create "$REL_NAME" --title "$REL_NAME" --notes "# Unofficial kernel for Xiaomi 12(cupid)
          | feature       | value                       |
          | ------------- | --------------------------- |
          | Kernel source | ${{ inputs.kernel_source }} |
          | Kernel branch | ${{ inputs.kernel_branch }} |
          | Kernel name   | ${KERNEL_NAME}              |
          | Build time    | ${BUILD_TIME}               |
          | KSU type      | ${{ inputs.ksu_type }}      |
          | SUSFS         | ${susfs_checkbox}           |
          | KPM           | ${kpm_checkbox}             |
          | BBG patch     | ${bbg_checkbox}             |
          " "${ZIP_FILE}" Image
